@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Open-Sans, sans-serif;
}

.header {

  border: 1px solid;
  width: 100%;
  height: 1.4rem;
  background: rgb(39, 37, 37);  
}

.content-header {
  height: 1.4rem;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  margin-right: 19.6rem;

  

}


.header p {
  color: whitesmoke;
  display: flex;
  margin-left: 0.7rem;
  font-family: Open-Sans, sans-serif;
  font-size: 0.8rem;

 
}



.header p a {
  text-decoration: underline;
  color: whitesmoke;

  
}

.logo {
  margin-left: 20rem;
  margin-top: 2rem;
}

.searchLocation {
  background: whitesmoke;
  height: 6.2rem;
  
}

.searchBox {
  float: right;
  border: solid 1px rgb(153, 143, 143);
  margin-right: 19.5rem;
  margin-top: 2rem;
  width: 25rem;
  height: 2.2rem;
}

.searchBox button {
  cursor: pointer;
  border-style: inherit;
  float: right;
  background-color: rgb(216, 27, 27);
  color: white;
  height: 2.2rem;
  width: 6rem;
  border: none;
  font-family: Open-Sans, sans-serif;
  font-weight: 800;
}

.searchBox input {
  border: none;
  height: 2.05rem;
  width: 19rem;
}


.menu {
  border:  1px solid red;
  background-color: rgb(216, 27, 27);
  height: 3rem;
  color: whitesmoke;
  display: flex;
  align-items: center;
}

.menu ul {
  width: 100vh;
  height: 3rem;
  text-decoration: none;
  list-style: none;
  color: whitesmoke;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  margin-left: 16rem;
  
  padding-left: 0;
  font-family: Open-Sans, sans-serif;
  font-weight: 800;
  font-size: 0.8rem;
}

.menu ul li {
  margin-left: 4rem;
  cursor: pointer;
}

.href-simplified {
  height: 3rem;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
}

.href-simplified p {
  margin-left: 20rem;
  font-size: 0.7rem;
}

.grid-container {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 18% 13% 43% 20%;
  background-color: whitesmoke;
  height: 100%;
}

/* .grid-container div {
  border: 1px solid red;

} */

.grid-filter {
  border: 1px solid rgba(128, 128, 128, 0.247);
  height: 23rem;
  
  
}

.grid-filter nav {

  
  margin-left: 1rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  color: rgb(216, 27, 27);
  font-weight: 700;
  font-size: 1.2rem;
  
  
}

.grid-filter ul {
  margin-left: 1rem;
  padding-left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  color: rgb(103, 173, 173);
  font-weight: 600;
}

.grid-filter li {
  cursor: pointer;
  margin-left: 1rem;
  position: relative;
  color: grey;
  font-size: 0.9rem;
  margin-top: 0.7rem;
  
  
}

.grid-filter a {
  list-style: none;
  margin-left: -10px;
  text-decoration: none;
  text-emphasis: none;
  color: grey;
}

.grid-filter input {
  

  display: none;
}






